<section class="portfolio">
    <div (click)="closePopup($event)" #popup class="overlay-popup d-none">
        <img #imgPopUp [src]="imgSrcAfter" alt="" class="overlay-popup-img">
    </div>
    <div class="container">
        <div class="portfolio-title d-flex flex-column justify-content-between align-items-center">
            <h1 class="fw-bolder pt-5 ">PORTFOLIO COMPONENT</h1>
            <div class="icons d-flex justify-content-between align-items-center mb-2">
                <div class="icone-left"></div>
                <div class="icone-center">
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="icone-right"></div>
            </div>
        </div>
        <div class="portfolio-gallery mt-4">
            <div class="row">
                @for (image of images; track $index) {
                    <div class="col-md-4 col-sm-6 mb-4">
                    <div (click)="imageSrc($event)" #portfolio class="portfolio-item">
                        <div class="overlay-img"><i class="fa-solid fa-plus"></i></div>
                        <img #image [src]="image.src" [alt]="image.alt" class="img-fluid rounded rounded-3">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

</section>
