<section class="home">
    <div class="container">
        <div class="home-items d-flex flex-column justify-content-center align-content-center">
            <div class="mx-auto home-img w-75 d-flex justify-content-center align-content-center mb-5">
                <img src="./Imges/avataaars.svg" alt="" class="img-hero">
            </div>
            <div class="home-content d-flex flex-column justify-content-center align-items-center">
                <h1 class="fw-bolder">START FRAMEWORK</h1>
                <div class="icons d-flex justify-content-between align-items-center mb-2">
                    <div class="icone-left"></div>
                    <div class="icone-center">
                        <i class="fa-solid fa-star"></i></div>
                    <div class="icone-right"></div>
                </div>
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</section>