.icone-left{
    background-color: white;
    width: 90px;
    height: 4PX;
    margin-right: 10px;
}
.icone-right{
    background-color: white;
    width: 90px;
    height: 4PX;
    margin-left: 10px;
}
.about{
    background-color: #1abc9c;
    color: white;
}
.about-items{
    margin-top: 100px;
    height:calc(100vh - 120px ) ;
}
